sphinx<8.0
nbsphinx
sphinx-theme
pydata-sphinx-theme
sphinx-rtd-theme
sphinx-book-theme
sphinx-autobuild
sphinx-markdown-tables
sphinx-copybutton
sphinx-multiversion
sphinx-design
sphinxcontrib-napoleon
sphinx-emoji-favicon
sphinxemoji
sphinxcontrib-bibtex
sphinxcontrib-proof
numpydoc
